* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header design */
.nav-bar {
  max-width: 1360px;
  width: 85%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu a {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.nav-bar button {
  background-color: #469165;
  padding: 12px 16px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

/* hero section design */

#hero {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 674px;
  margin: 0 auto;
  text-align: center;
}

.hero-container {
  padding-top: 116px;
  padding-bottom: 180px;
}

.btn1 {
  padding: 8px 12px;
  border: none;
  border-radius: 45px;
  color: #469165;
  font-weight: 500;
}

.hero-container h1 {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  line-height: 84px;
}

.hero-container h1 span {
  color: #30b868;
}

.hero-container p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero-btn {
  gap: 16px;
  display: inline-flex;
}
.hero-btn1 {
  background-color: #469165;
  color: #ffffff;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-btn2 {
  background: transparent;
  color: #ffffff;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ffffff;
}

/* Note card design */

.notes-container {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
}

.notes-article h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.notes-article p {
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
}

.notes-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  max-width: 322px;
  height: 300px;
  padding-top: 70px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  border: rgba(98, 115, 130, 1);
  border-radius: 8px;
}
.card img {
  background-color: #f95555;
  padding: 13px 14px;
  border-radius: 50%;
}

.card h3 {
  font-size: 24px;
  font-weight: 500px;
  margin: 16px 0;
}
.card p {
  line-height: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
