* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header design */
.nav-bar {
  max-width: 1360px;
  width: 85%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu a {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.nav-bar button {
  background-color: #469165;
  padding: 12px 16px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}

/* hero section design */

#hero {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 674px;
  margin: 0 auto;
  text-align: center;
}

.hero-container {
  padding-top: 116px;
  padding-bottom: 180px;
}

.btn1 {
  padding: 8px 12px;
  border: none;
  border-radius: 45px;
  color: #469165;
  font-weight: 500;
}

.hero-container h1 {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
  line-height: 84px;
}

.hero-container h1 span {
  color: #30b868;
}

.hero-container p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero-btn {
  gap: 16px;
  display: inline-flex;
}
.hero-btn1 {
  background-color: #469165;
  color: #ffffff;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-btn2 {
  background: transparent;
  color: #ffffff;
  padding: 12.5px 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ffffff;
}

/* Note card design */

.notes-container {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

.notes-article h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.notes-article p {
  color: #627382;
  line-height: 20px;
  margin-bottom: 44px;
}

.notes-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  max-width: 322px;
  height: 300px;
  padding-top: 70px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  border: rgba(98, 115, 130, 1);
  border-radius: 8px;
}
.card img {
  background-color: #f95555;
  padding: 13px 14px;
  border-radius: 50%;
}

.card h3 {
  font-size: 24px;
  font-weight: 500px;
  margin: 16px 0;
}
.card p {
  line-height: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

/* brain section design */

.brain-container {
  max-width: 1360px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;
}

.brain-article {
  padding-right: 120px;
}
.brain-article h4 {
  line-height: 20px;
  color: #469165;
  font-weight: 500;
  margin-bottom: 16px;
}

.brain-article h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #001931;
}
.brain-article p {
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-image {
  margin-right: 60px;
}

.check-circle {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.check-circle h5 {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 20px;
  font-weight: 500;
}
/* early access section design */

.early-access-container {
  max-width: 1360px;
  width: 85%;
  height: 348px;

  text-align: center;
  background-color: #f7f6f2;
  margin: 0 auto;
  align-items: center;
}

.early-access-container h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
  padding-top: 80px;
}

.early-access-container p {
  color: #627382;
  line-height: 24px;
  padding-top: 16px;
}

.early-access-container button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 16px;
  border: none;
  background-color: #469165;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 24px;
}

/* footer section design */

.footer-container {
  max-width: 1600px;
  height: 348px;
  background-color: #001931;
  margin: 0 auto;
  margin-top: 120px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 120px 80px 120px;
}
.icons i {
  background-color: #f7f6f2;
  border-radius: 50%;
  padding: 6px;
  font-size: 14px;
}

.icons {
  display: flex;
  gap: 10px;
}
.social {
  gap: 16px;
  display: inline-flex;
  flex-direction: column;
}
.social p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  line-height: 28px;
}
.copy-rights {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}

.copy-rights hr {
  color: #e5e7eb;
  height: 0.5px;
  opacity: 20%;
  margin-bottom: 30px;
}

.copy-rights p {
  color: #fafafa;
  line-height: 24px;
  /* border-top: 0.1px solid #e5e7eb;
  padding-top: 30px; */
}
