* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header design */
.nav-bar {
  max-width: 1360px;
  width: 85%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.menu a {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.nav-bar button {
  background-color: #469165;
  padding: 12px 16px;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
}
